In [ ]:
!pip install gspread oauth2client

In [1]:
import pandas as pd
import gspread 
from oauth2client.service_account import ServiceAccountCredentials

In [17]:
scope=["https://spreadsheets.google.com/feeds",
       "https://www.googleapis.com/auth/spreadsheets",
       "https://www.googleapis.com/auth/drive.file",
       "https://www.googleapis.com/auth/drive"]


creds = ServiceAccountCredentials.from_json_keyfile_name("credentials.json",scope)

client = gspread.authorize(creds)

sheets = client.open("US_Sale_Inventory_Monthly")

print(sheets.worksheets())

sheets = client.open("US_Pending_Inventory_monthly")

print(sheets.worksheets())

sheets = client.open("ZORI_AllHomesPlusMultifamily_ZIP")

print(sheets.worksheets())


ws = sheets.worksheet("All Homes").get_all_records()

print(ws)

df = pd.DataFrame(ws)
df

# data = sheet.get_all_records()

[<Worksheet 'All Homes' id:0>]
[<Worksheet 'All Homes' id:0>]
[<Worksheet 'All Homes' id:0>]

In [209]:
import os

file_location = 'Data Resources/ZHVI/'
files = os.listdir(file_location)
files

file_list = list()

for data_file in files:
    file_dict={}
    file_dict['file'] = f"{file_location}{data_file}"
    file_dict['Bedroom Count'] = int((data_file.split('Zip_zhvi_bdrmcnt_')[1]).split('.')[0])
    file_list.append(file_dict)
file_list

['Zip_zhvi_bdrmcnt_1.csv',
 'Zip_zhvi_bdrmcnt_2.csv',
 'Zip_zhvi_bdrmcnt_3.csv',
 'Zip_zhvi_bdrmcnt_4.csv',
 'Zip_zhvi_bdrmcnt_5.csv']

[{'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_1.csv', 'Bedroom Count': 1},
 {'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_2.csv', 'Bedroom Count': 2},
 {'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_3.csv', 'Bedroom Count': 3},
 {'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_4.csv', 'Bedroom Count': 4},
 {'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_5.csv', 'Bedroom Count': 5}]

In [221]:
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

# zhvi_complete_df

for data_file in file_list:
    print(data_file['file'])
    zhvi_df = pd.read_csv(data_file['file'])

    zhvi_df.rename(columns={"RegionName":"Zip Code"}, inplace=True)

    zhvi_df.drop(columns=["RegionID","SizeRank","RegionType","StateName"], inplace=True)

    columns_to_drop = []
    for column in zhvi_df.columns[5:]:
        if int(column.split('-')[0]) < 2000:
            columns_to_drop.append(column)
            
    # columns_to_drop
    zhvi_df.drop(columns=columns_to_drop, inplace=True)
    
    column_list=['Zip Code','City','CountyName','Metro','State']

    column_list_data = zhvi_df[column_list]

    zhvi_df.drop(columns=column_list, inplace = True)
    zhvi_df = zhvi_df.fillna(0)
        
    for column in column_list:
        zhvi_df.insert(column_list.index(column), column, column_list_data[column])

    zhvi_df.insert(0,'Bedroom Count',int(data_file['Bedroom Count']))
    
    zhvi_df.append(zhvi_df, ignore_index=True)
#     print(zhvi_df)
zhvi_df

Data Resources/ZHVI/Zip_zhvi_bdrmcnt_1.csv

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,1,10025,New York,New York County,New York-Newark-Jersey City,NY,182078.0,186287.0,191381.0,196250.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,1,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,142026.0,144069.0,146168.0,148561.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,1,10023,New York,New York County,New York-Newark-Jersey City,NY,266741.0,270622.0,274752.0,279165.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,1,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,158105.0,160246.0,162237.0,164443.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,1,77449,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,93551.0,94162.0,95088.0,95619.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37091,1,41101,Ashland,Boyd County,Huntington-Ashland,KY,26179.0,25703.0,25500.0,25297.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
37092,1,81225,Mount Crested Butte,Gunnison County,NaN,CO,68284.0,69407.0,70322.0,70903.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
37093,1,2872,Portsmouth,Newport County,Providence-Warwick,RI,0.0,0.0,0.0,0.0,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
37094,1,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
37095,1,86343,Crown King,Yavapai County,Prescott,AZ,0.0,0.0,0.0,0.0,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0

Data Resources/ZHVI/Zip_zhvi_bdrmcnt_2.csv

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,2,10025,New York,New York County,New York-Newark-Jersey City,NY,342929.0,347644.0,355472.0,368213.0,...,1159096.0,1156611.0,1156124.0,1156716.0,1157944.0,1159625.0,1160282.0,1165571.0,1175414.0,1182036.0
1,2,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,235687.0,238798.0,242108.0,245249.0,...,395734.0,395856.0,396225.0,397380.0,398927.0,400974.0,402923.0,405051.0,407142.0,409053.0
2,2,10023,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,1708698.0,1705051.0,1703929.0,1700227.0,1697462.0,1697960.0,1703460.0,1706149.0,1707551.0,1705126.0
3,2,77494,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,0.0,0.0,0.0,0.0,...,264196.0,265394.0,266257.0,266569.0,267342.0,268189.0,269588.0,271218.0,273538.0,275513.0
4,2,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,268592.0,272279.0,275719.0,278408.0,...,448379.0,448340.0,448447.0,449613.0,451333.0,453685.0,455876.0,458141.0,460511.0,462561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53503,2,10118,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,2923773.0,2923167.0,2903041.0,2885773.0,2854669.0,2827492.0,2783049.0,2724540.0,2660983.0,2595808.0
53504,2,95721,Twin Bridges,El Dorado County,Sacramento--Roseville--Arden-Arcade,CA,0.0,0.0,0.0,0.0,...,263772.0,264351.0,264924.0,265807.0,268653.0,273198.0,278213.0,283606.0,289588.0,294807.0
53505,2,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,431965.0,434575.0,436768.0,437611.0,440675.0,444998.0,451840.0,458765.0,466691.0,475689.0
53506,2,21405,Annapolis,Anne Arundel County,Baltimore-Columbia-Towson,MD,0.0,0.0,0.0,0.0,...,649904.0,652835.0,655963.0,664748.0,672118.0,683711.0,696723.0,711503.0,722999.0,728679.0
53507,2,86343,Crown King,Yavapai County,Prescott,AZ,0.0,0.0,0.0,0.0,...,157935.0,158015.0,157173.0,155550.0,156047.0,157562.0,160078.0,161440.0,162273.0,163571.0

Data Resources/ZHVI/Zip_zhvi_bdrmcnt_3.csv

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,3,10025,New York,New York County,New York-Newark-Jersey City,NY,1049675.0,1046829.0,1035963.0,1035493.0,...,1779351.0,1775913.0,1774789.0,1772009.0,1770983.0,1775613.0,1778904.0,1784117.0,1780947.0,1767164.0
1,3,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,332074.0,336901.0,341828.0,345808.0,...,589158.0,589839.0,590695.0,592455.0,595474.0,599903.0,604736.0,608957.0,612624.0,616030.0
2,3,10023,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,2964552.0,2958008.0,2950838.0,2933253.0,2908874.0,2888391.0,2886665.0,2891236.0,2904751.0,2925827.0
3,3,77494,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,161556.0,162616.0,163241.0,163741.0,...,257563.0,258676.0,259501.0,260008.0,260926.0,261896.0,263437.0,265217.0,267837.0,270195.0
4,3,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,393130.0,398400.0,403599.0,407148.0,...,688242.0,687809.0,687123.0,687929.0,689096.0,692632.0,696095.0,699811.0,702872.0,705471.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57593,3,38959,Inverness,Sunflower County,Indianola,MS,0.0,0.0,0.0,0.0,...,65413.0,65906.0,66446.0,66798.0,67007.0,67446.0,68105.0,68816.0,69235.0,69678.0
57594,3,4420,Ollie,Keokuk County,NaN,IA,0.0,0.0,0.0,0.0,...,306574.0,306330.0,306111.0,306310.0,308629.0,311604.0,315030.0,318147.0,321804.0,324451.0
57595,3,21405,Annapolis,Anne Arundel County,Baltimore-Columbia-Towson,MD,472759.0,472291.0,469964.0,472532.0,...,867573.0,868759.0,869122.0,872194.0,877297.0,883023.0,892114.0,902244.0,916921.0,925609.0
57596,3,28310,Fayetteville,Cumberland County,Fayetteville,NC,0.0,0.0,0.0,0.0,...,36361.0,36476.0,36525.0,36407.0,36202.0,36271.0,36640.0,37453.0,38469.0,39468.0
57597,3,45114,Wilmington,Clinton County,Wilmington,OH,0.0,0.0,0.0,0.0,...,99791.0,99859.0,99729.0,99937.0,100680.0,102020.0,103620.0,105685.0,107928.0,110498.0

Data Resources/ZHVI/Zip_zhvi_bdrmcnt_4.csv

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,4,10025,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,2849934.0,2845661.0,2852847.0,2860923.0,2870955.0,2888663.0,2900874.0,2907329.0,2905181.0,2895500.0
1,4,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,544974.0,553451.0,562964.0,569769.0,...,966025.0,965487.0,964981.0,966313.0,969097.0,974363.0,979371.0,982727.0,985676.0,987258.0
2,4,10023,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,6123063.0,6067261.0,6045131.0,6007309.0,5962598.0,5891910.0,5836608.0,5810965.0,5781192.0,5726274.0
3,4,77494,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,217623.0,218572.0,219834.0,220681.0,...,334703.0,335702.0,336507.0,337199.0,338528.0,339982.0,342256.0,345055.0,349044.0,352901.0
4,4,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,743841.0,752894.0,761841.0,769636.0,...,1223275.0,1222263.0,1223263.0,1226175.0,1229241.0,1234622.0,1239624.0,1244450.0,1248428.0,1251233.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53153,4,27599,Durham,Durham County,Durham-Chapel Hill,NC,0.0,0.0,0.0,0.0,...,436087.0,434550.0,433675.0,432921.0,433384.0,431021.0,431066.0,429700.0,430406.0,428217.0
53154,4,89155,Las Vegas,Clark County,Las Vegas-Henderson-Paradise,NV,224348.0,225118.0,226185.0,227455.0,...,381420.0,382901.0,383898.0,386800.0,391137.0,396519.0,400236.0,403463.0,405884.0,408888.0
53155,4,20052,Washington,District of Columbia,Washington-Arlington-Alexandria,DC,0.0,0.0,0.0,0.0,...,1474006.0,1490235.0,1506651.0,1519215.0,1527622.0,1532706.0,1530140.0,1539334.0,1553794.0,1577703.0
53156,4,31421,Savannah,Chatham County,Savannah,GA,0.0,0.0,0.0,0.0,...,451124.0,455639.0,456618.0,458348.0,459714.0,463676.0,465998.0,472271.0,479233.0,484083.0
53157,4,86343,Crown King,Yavapai County,Prescott,AZ,0.0,0.0,0.0,0.0,...,287293.0,282883.0,281158.0,279793.0,280176.0,281919.0,286471.0,292007.0,295200.0,295989.0

Data Resources/ZHVI/Zip_zhvi_bdrmcnt_5.csv

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,5,10025,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,3615952.0,3634749.0,3699871.0,3824147.0,3933560.0,4004872.0,4039398.0,4058459.0,4106253.0,4199021.0
1,5,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,0.0,0.0,0.0,0.0,...,1512074.0,1513276.0,1514926.0,1518745.0,1522129.0,1528681.0,1533013.0,1536811.0,1538230.0,1536634.0
2,5,10023,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,10938405.0,10813115.0,10819405.0,10803317.0,10803730.0,10763267.0,10736738.0,10685867.0,10556831.0,10456353.0
3,5,77494,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,306515.0,307813.0,309166.0,309993.0,...,467712.0,469449.0,470694.0,471891.0,473863.0,475711.0,478669.0,482321.0,487640.0,492989.0
4,5,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,1136565.0,1149956.0,1163437.0,1176978.0,...,1954245.0,1954533.0,1958917.0,1966584.0,1973551.0,1985197.0,1994193.0,2004444.0,2012577.0,2018990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44141,5,18348,Pocono Lake,Monroe County,East Stroudsburg,PA,0.0,0.0,0.0,0.0,...,208013.0,208351.0,208001.0,209010.0,211422.0,214524.0,215693.0,214938.0,216432.0,219000.0
44142,5,21405,Annapolis,Anne Arundel County,Baltimore-Columbia-Towson,MD,544352.0,553857.0,567712.0,576173.0,...,1038744.0,1041542.0,1044743.0,1047632.0,1054339.0,1059607.0,1071507.0,1080129.0,1099575.0,1110337.0
44143,5,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,954064.0,963020.0,970516.0,975945.0,986262.0,995443.0,1010473.0,1027687.0,1050814.0,1077295.0
44144,5,89155,Las Vegas,Clark County,Las Vegas-Henderson-Paradise,NV,255198.0,256515.0,257596.0,258996.0,...,432288.0,434705.0,436505.0,440215.0,444924.0,450580.0,454860.0,458650.0,461560.0,465385.0
44145,5,20052,Washington,District of Columbia,Washington-Arlington-Alexandria,DC,0.0,0.0,0.0,0.0,...,1458924.0,1457089.0,1460633.0,1463001.0,1473292.0,1481952.0,1483840.0,1485977.0,1499367.0,1517529.0

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,5,10025,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,3615952.0,3634749.0,3699871.0,3824147.0,3933560.0,4004872.0,4039398.0,4058459.0,4106253.0,4199021.0
1,5,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,0.0,0.0,0.0,0.0,...,1512074.0,1513276.0,1514926.0,1518745.0,1522129.0,1528681.0,1533013.0,1536811.0,1538230.0,1536634.0
2,5,10023,New York,New York County,New York-Newark-Jersey City,NY,0.0,0.0,0.0,0.0,...,10938405.0,10813115.0,10819405.0,10803317.0,10803730.0,10763267.0,10736738.0,10685867.0,10556831.0,10456353.0
3,5,77494,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,306515.0,307813.0,309166.0,309993.0,...,467712.0,469449.0,470694.0,471891.0,473863.0,475711.0,478669.0,482321.0,487640.0,492989.0
4,5,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,1136565.0,1149956.0,1163437.0,1176978.0,...,1954245.0,1954533.0,1958917.0,1966584.0,1973551.0,1985197.0,1994193.0,2004444.0,2012577.0,2018990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22068,5,18348,Pocono Lake,Monroe County,East Stroudsburg,PA,0.0,0.0,0.0,0.0,...,208013.0,208351.0,208001.0,209010.0,211422.0,214524.0,215693.0,214938.0,216432.0,219000.0
22069,5,21405,Annapolis,Anne Arundel County,Baltimore-Columbia-Towson,MD,544352.0,553857.0,567712.0,576173.0,...,1038744.0,1041542.0,1044743.0,1047632.0,1054339.0,1059607.0,1071507.0,1080129.0,1099575.0,1110337.0
22070,5,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,954064.0,963020.0,970516.0,975945.0,986262.0,995443.0,1010473.0,1027687.0,1050814.0,1077295.0
22071,5,89155,Las Vegas,Clark County,Las Vegas-Henderson-Paradise,NV,255198.0,256515.0,257596.0,258996.0,...,432288.0,434705.0,436505.0,440215.0,444924.0,450580.0,454860.0,458650.0,461560.0,465385.0
22072,5,20052,Washington,District of Columbia,Washington-Arlington-Alexandria,DC,0.0,0.0,0.0,0.0,...,1458924.0,1457089.0,1460633.0,1463001.0,1473292.0,1481952.0,1483840.0,1485977.0,1499367.0,1517529.0

In [167]:
zip_zhvi_bdrmcnt_1_df

,Zip Code,State,City,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,10025,NY,New York,New York-Newark-Jersey City,New York County,182078.0,186287.0,191381.0,196250.0,200196.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,142026.0,144069.0,146168.0,148561.0,150556.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,10023,NY,New York,New York-Newark-Jersey City,New York County,266741.0,270622.0,274752.0,279165.0,285214.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,158105.0,160246.0,162237.0,164443.0,167204.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,77449,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,93551.0,94162.0,95088.0,95619.0,95267.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18543,41101,KY,Ashland,Huntington-Ashland,Boyd County,26179.0,25703.0,25500.0,25297.0,24892.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
18544,81225,CO,Mount Crested Butte,NaN,Gunnison County,68284.0,69407.0,70322.0,70903.0,71564.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
18545,2872,RI,Portsmouth,Providence-Warwick,Newport County,NaN,NaN,NaN,NaN,NaN,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
18546,4109,ME,Portland,Portland-South Portland,Cumberland County,NaN,NaN,NaN,NaN,NaN,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
18547,86343,AZ,Crown King,Prescott,Yavapai County,NaN,NaN,NaN,NaN,NaN,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0

In [168]:
# zip_zhvi_bdrmcnt_1_df.insert(0,'Bedroom Count',1)

In [169]:
# zip_zhvi_bdrmcnt_1_df

,Bedroom Count,Zip Code,State,City,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,1,10025,NY,New York,New York-Newark-Jersey City,New York County,182078.0,186287.0,191381.0,196250.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,142026.0,144069.0,146168.0,148561.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,1,10023,NY,New York,New York-Newark-Jersey City,New York County,266741.0,270622.0,274752.0,279165.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,1,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,158105.0,160246.0,162237.0,164443.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,1,77449,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,93551.0,94162.0,95088.0,95619.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18543,1,41101,KY,Ashland,Huntington-Ashland,Boyd County,26179.0,25703.0,25500.0,25297.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
18544,1,81225,CO,Mount Crested Butte,NaN,Gunnison County,68284.0,69407.0,70322.0,70903.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
18545,1,2872,RI,Portsmouth,Providence-Warwick,Newport County,NaN,NaN,NaN,NaN,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
18546,1,4109,ME,Portland,Portland-South Portland,Cumberland County,NaN,NaN,NaN,NaN,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
18547,1,86343,AZ,Crown King,Prescott,Yavapai County,NaN,NaN,NaN,NaN,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0

In [170]:
# To reorder columns and fillna()

column_list=['Bedroom Count','Zip Code','City','CountyName','Metro','State']

column_list_data = zip_zhvi_bdrmcnt_1_df[column_list]

zip_zhvi_bdrmcnt_1_df.drop(columns=column_list, inplace = True)
zip_zhvi_bdrmcnt_1_df = zip_zhvi_bdrmcnt_1_df.fillna(0)

for column in column_list:
    zip_zhvi_bdrmcnt_1_df.insert(column_list.index(column), column, column_list_data[column])
zip_zhvi_bdrmcnt_1_df

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,1,10025,New York,New York County,New York-Newark-Jersey City,NY,182078.0,186287.0,191381.0,196250.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,1,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,142026.0,144069.0,146168.0,148561.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,1,10023,New York,New York County,New York-Newark-Jersey City,NY,266741.0,270622.0,274752.0,279165.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,1,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,158105.0,160246.0,162237.0,164443.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,1,77449,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,93551.0,94162.0,95088.0,95619.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18543,1,41101,Ashland,Boyd County,Huntington-Ashland,KY,26179.0,25703.0,25500.0,25297.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
18544,1,81225,Mount Crested Butte,Gunnison County,NaN,CO,68284.0,69407.0,70322.0,70903.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
18545,1,2872,Portsmouth,Newport County,Providence-Warwick,RI,0.0,0.0,0.0,0.0,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
18546,1,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
18547,1,86343,Crown King,Yavapai County,Prescott,AZ,0.0,0.0,0.0,0.0,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0

In [171]:
zip_zhvi_bdrmcnt_1_df

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,1,10025,New York,New York County,New York-Newark-Jersey City,NY,182078.0,186287.0,191381.0,196250.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,1,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,142026.0,144069.0,146168.0,148561.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,1,10023,New York,New York County,New York-Newark-Jersey City,NY,266741.0,270622.0,274752.0,279165.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,1,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,158105.0,160246.0,162237.0,164443.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,1,77449,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,93551.0,94162.0,95088.0,95619.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18543,1,41101,Ashland,Boyd County,Huntington-Ashland,KY,26179.0,25703.0,25500.0,25297.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
18544,1,81225,Mount Crested Butte,Gunnison County,NaN,CO,68284.0,69407.0,70322.0,70903.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
18545,1,2872,Portsmouth,Newport County,Providence-Warwick,RI,0.0,0.0,0.0,0.0,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
18546,1,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
18547,1,86343,Crown King,Yavapai County,Prescott,AZ,0.0,0.0,0.0,0.0,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0