In [ ]:
!pip install gspread oauth2client

In [1]:
import pandas as pd
import gspread 
from oauth2client.service_account import ServiceAccountCredentials
import os

In [17]:
scope=["https://spreadsheets.google.com/feeds",
       "https://www.googleapis.com/auth/spreadsheets",
       "https://www.googleapis.com/auth/drive.file",
       "https://www.googleapis.com/auth/drive"]


creds = ServiceAccountCredentials.from_json_keyfile_name("credentials.json",scope)

client = gspread.authorize(creds)

sheets = client.open("US_Sale_Inventory_Monthly")

print(sheets.worksheets())

sheets = client.open("US_Pending_Inventory_monthly")

print(sheets.worksheets())

sheets = client.open("ZORI_AllHomesPlusMultifamily_ZIP")

print(sheets.worksheets())


ws = sheets.worksheet("All Homes").get_all_records()

print(ws)

df = pd.DataFrame(ws)
df

# data = sheet.get_all_records()

[<Worksheet 'All Homes' id:0>]
[<Worksheet 'All Homes' id:0>]
[<Worksheet 'All Homes' id:0>]

In [209]:
file_location = 'Data Resources/ZHVI/'
files = os.listdir(file_location)
files

file_list = list()

for data_file in files:
    file_dict={}
    file_dict['file'] = f"{file_location}{data_file}"
    file_dict['Bedroom Count'] = int((data_file.split('Zip_zhvi_bdrmcnt_')[1]).split('.')[0])
    file_list.append(file_dict)
file_list

['Zip_zhvi_bdrmcnt_1.csv',
 'Zip_zhvi_bdrmcnt_2.csv',
 'Zip_zhvi_bdrmcnt_3.csv',
 'Zip_zhvi_bdrmcnt_4.csv',
 'Zip_zhvi_bdrmcnt_5.csv']

[{'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_1.csv', 'Bedroom Count': 1},
 {'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_2.csv', 'Bedroom Count': 2},
 {'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_3.csv', 'Bedroom Count': 3},
 {'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_4.csv', 'Bedroom Count': 4},
 {'file': 'Data Resources/ZHVI/Zip_zhvi_bdrmcnt_5.csv', 'Bedroom Count': 5}]

In [237]:
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

zhvi_complete_df = pd.DataFrame()

number_of_record = 0

for data_file in file_list:
    print(data_file['file'])
    zhvi_df = pd.read_csv(data_file['file'])

    number_of_record += int(zhvi_df['RegionID'].count())
    zhvi_df.rename(columns={"RegionName":"Zip Code"}, inplace=True)

    zhvi_df.drop(columns=["RegionID","SizeRank","RegionType","StateName"], inplace=True)

    columns_to_drop = []
    for column in zhvi_df.columns[5:]:
        if int(column.split('-')[0]) < 2000:
            columns_to_drop.append(column)
            
    # columns_to_drop
    zhvi_df.drop(columns=columns_to_drop, inplace=True)
    
    column_list=['Zip Code','City','CountyName','Metro','State']

    column_list_data = zhvi_df[column_list]

    zhvi_df.drop(columns=column_list, inplace = True)
    zhvi_df = zhvi_df.fillna(0)
        
    for column in column_list:
        zhvi_df.insert(column_list.index(column), column, column_list_data[column])

    zhvi_df.insert(0,'Bedroom Count',int(data_file['Bedroom Count']))
    
    zhvi_complete_df = zhvi_complete_df.append(zhvi_df,ignore_index=True,sort=False)
#     print(zhvi_df)

# print("Total Numbers of records from files: " + str(number_of_record))
# print("Total Numbers of records : " + zhvi_complete_df['Zip Code'].count())
zhvi_complete_df

Data Resources/ZHVI/Zip_zhvi_bdrmcnt_1.csv
Data Resources/ZHVI/Zip_zhvi_bdrmcnt_2.csv
Data Resources/ZHVI/Zip_zhvi_bdrmcnt_3.csv
Data Resources/ZHVI/Zip_zhvi_bdrmcnt_4.csv
Data Resources/ZHVI/Zip_zhvi_bdrmcnt_5.csv
Total Numbers of records122753
122753

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,1,10025,New York,New York County,New York-Newark-Jersey City,NY,182078.0,186287.0,191381.0,196250.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,1,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,142026.0,144069.0,146168.0,148561.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,1,10023,New York,New York County,New York-Newark-Jersey City,NY,266741.0,270622.0,274752.0,279165.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,1,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,158105.0,160246.0,162237.0,164443.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,1,77449,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,93551.0,94162.0,95088.0,95619.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122748,5,18348,Pocono Lake,Monroe County,East Stroudsburg,PA,0.0,0.0,0.0,0.0,...,208013.0,208351.0,208001.0,209010.0,211422.0,214524.0,215693.0,214938.0,216432.0,219000.0
122749,5,21405,Annapolis,Anne Arundel County,Baltimore-Columbia-Towson,MD,544352.0,553857.0,567712.0,576173.0,...,1038744.0,1041542.0,1044743.0,1047632.0,1054339.0,1059607.0,1071507.0,1080129.0,1099575.0,1110337.0
122750,5,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,954064.0,963020.0,970516.0,975945.0,986262.0,995443.0,1010473.0,1027687.0,1050814.0,1077295.0
122751,5,89155,Las Vegas,Clark County,Las Vegas-Henderson-Paradise,NV,255198.0,256515.0,257596.0,258996.0,...,432288.0,434705.0,436505.0,440215.0,444924.0,450580.0,454860.0,458650.0,461560.0,465385.0
122752,5,20052,Washington,District of Columbia,Washington-Arlington-Alexandria,DC,0.0,0.0,0.0,0.0,...,1458924.0,1457089.0,1460633.0,1463001.0,1473292.0,1481952.0,1483840.0,1485977.0,1499367.0,1517529.0

In [242]:
file_path="Data Resources/States.csv"
states_df = pd.read_csv(file_path)
states_df

   state                      state_name
0     AL                         Alabama
1     AK                          Alaska
2     AZ                         Arizona
3     AR                        Arkansas
4     CA                      California
5     CO                        Colorado
6     CT                     Connecticut
7     DE                        Delaware
8     DC            District of Columbia
9     FL                         Florida
10    GA                         Georgia
11    HI                          Hawaii
12    ID                           Idaho
13    IL                        Illinois
14    IN                         Indiana
15    IA                            Iowa
16    KS                          Kansas
17    KY                        Kentucky
18    LA                       Louisiana
19    ME                           Maine
20    MD                        Maryland
21    MA                   Massachusetts
22    MI                        Michigan
23    MN                       Minnesota
24    MS                     Mississippi
25    MO                        Missouri
26    MT                         Montana
27    NE                        Nebraska
28    NV                          Nevada
29    NH                   New Hampshire
30    NJ                      New Jersey
31    NM                      New Mexico
32    NY                        New York
33    NC                  North Carolina
34    ND                    North Dakota
35    OH                            Ohio
36    OK                        Oklahoma
37    OR                          Oregon
38    PA                    Pennsylvania
39    RI                    Rhode Island
40    SC                  South Carolina
41    SD                    South Dakota
42    TN                       Tennessee
43    TX                           Texas
44    UT                            Utah
45    VT                         Vermont
46    VA                        Virginia
47    WA                      Washington
48    WV                   West Virginia
49    WI                       Wisconsin
50    WY                         Wyoming
51    AS                  American Samoa
52    FM  Federated States of Micronesia
53    GU                            Guam
54    MH                Marshall Islands
55    MP               Northern Marianas
56    PW                           Palau
57    PR                     Puerto Rico
58    VI                  Virgin Islands