In [ ]:
!pip install gspread oauth2client

In [1]:
import pandas as pd
import gspread 
from oauth2client.service_account import ServiceAccountCredentials

In [17]:
scope=["https://spreadsheets.google.com/feeds",
       "https://www.googleapis.com/auth/spreadsheets",
       "https://www.googleapis.com/auth/drive.file",
       "https://www.googleapis.com/auth/drive"]


creds = ServiceAccountCredentials.from_json_keyfile_name("credentials.json",scope)

client = gspread.authorize(creds)

sheets = client.open("US_Sale_Inventory_Monthly")

print(sheets.worksheets())

sheets = client.open("US_Pending_Inventory_monthly")

print(sheets.worksheets())

sheets = client.open("ZORI_AllHomesPlusMultifamily_ZIP")

print(sheets.worksheets())


ws = sheets.worksheet("All Homes").get_all_records()

print(ws)

df = pd.DataFrame(ws)
df

# data = sheet.get_all_records()

[<Worksheet 'All Homes' id:0>]
[<Worksheet 'All Homes' id:0>]
[<Worksheet 'All Homes' id:0>]

In [206]:
import os

file_location = 'Data Resources/ZHVI/'
files = os.listdir(file_location)
files

file_list = list()

for data_file in files:
    file_dict={}
    file_dict['file'] = data_file
    file_dict['Bedroom Count'] = int((data_file.split('Zip_zhvi_bdrmcnt_')[1]).split('.')[0])
    file_list.append(file_dict)
file_list

['Zip_zhvi_bdrmcnt_1.csv',
 'Zip_zhvi_bdrmcnt_2.csv',
 'Zip_zhvi_bdrmcnt_3.csv',
 'Zip_zhvi_bdrmcnt_4.csv',
 'Zip_zhvi_bdrmcnt_5.csv']

[{'file': 'Zip_zhvi_bdrmcnt_1.csv', 'Bedroom Count': 1},
 {'file': 'Zip_zhvi_bdrmcnt_2.csv', 'Bedroom Count': 2},
 {'file': 'Zip_zhvi_bdrmcnt_3.csv', 'Bedroom Count': 3},
 {'file': 'Zip_zhvi_bdrmcnt_4.csv', 'Bedroom Count': 4},
 {'file': 'Zip_zhvi_bdrmcnt_5.csv', 'Bedroom Count': 5}]

In [208]:
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

# zhvi_complete_df

# for data_file in file_list:
   
#     file_path=f"{file_location}{data_file}"
#     print(file_path)
#     print((file_path.split('Zip_zhvi_bdrmcnt_')[1]).split('.')[0])
# #     file_path="Data Resources/Zip_zhvi_bdrmcnt_1.csv"
#     zhvi_df = pd.read_csv(file_path)

#     zhvi_df.rename(columns={"RegionName":"Zip Code"}, inplace=True)

#     zhvi_df.drop(columns=["RegionID","SizeRank","RegionType","StateName"], inplace=True)

#     columns_to_drop = []
#     for column in zhvi_df.columns[5:]:
#         if int(column.split('-')[0]) < 2000:
#             columns_to_drop.append(column)
#     # columns_to_drop
#     zhvi_df.drop(columns=columns_to_drop, inplace=True)

#     bedroom_count = int((file_path.split('Zip_zhvi_bdrmcnt_')[1]).split('.')[0])
#     zhvi_df.insert(0,'Bedroom Count',(file_path.split('Zip_zhvi_bdrmcnt_')[1]).split('.')[0])
# #     print(zhvi_df)

In [167]:
zip_zhvi_bdrmcnt_1_df

,Zip Code,State,City,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,10025,NY,New York,New York-Newark-Jersey City,New York County,182078.0,186287.0,191381.0,196250.0,200196.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,142026.0,144069.0,146168.0,148561.0,150556.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,10023,NY,New York,New York-Newark-Jersey City,New York County,266741.0,270622.0,274752.0,279165.0,285214.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,158105.0,160246.0,162237.0,164443.0,167204.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,77449,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,93551.0,94162.0,95088.0,95619.0,95267.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18543,41101,KY,Ashland,Huntington-Ashland,Boyd County,26179.0,25703.0,25500.0,25297.0,24892.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
18544,81225,CO,Mount Crested Butte,NaN,Gunnison County,68284.0,69407.0,70322.0,70903.0,71564.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
18545,2872,RI,Portsmouth,Providence-Warwick,Newport County,NaN,NaN,NaN,NaN,NaN,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
18546,4109,ME,Portland,Portland-South Portland,Cumberland County,NaN,NaN,NaN,NaN,NaN,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
18547,86343,AZ,Crown King,Prescott,Yavapai County,NaN,NaN,NaN,NaN,NaN,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0

In [168]:
zip_zhvi_bdrmcnt_1_df.insert(0,'Bedroom Count',1)

In [169]:
zip_zhvi_bdrmcnt_1_df

,Bedroom Count,Zip Code,State,City,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,1,10025,NY,New York,New York-Newark-Jersey City,New York County,182078.0,186287.0,191381.0,196250.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,142026.0,144069.0,146168.0,148561.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,1,10023,NY,New York,New York-Newark-Jersey City,New York County,266741.0,270622.0,274752.0,279165.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,1,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,158105.0,160246.0,162237.0,164443.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,1,77449,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,93551.0,94162.0,95088.0,95619.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18543,1,41101,KY,Ashland,Huntington-Ashland,Boyd County,26179.0,25703.0,25500.0,25297.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
18544,1,81225,CO,Mount Crested Butte,NaN,Gunnison County,68284.0,69407.0,70322.0,70903.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
18545,1,2872,RI,Portsmouth,Providence-Warwick,Newport County,NaN,NaN,NaN,NaN,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
18546,1,4109,ME,Portland,Portland-South Portland,Cumberland County,NaN,NaN,NaN,NaN,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
18547,1,86343,AZ,Crown King,Prescott,Yavapai County,NaN,NaN,NaN,NaN,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0

In [170]:
# To reorder columns and fillna()

column_list=['Bedroom Count','Zip Code','City','CountyName','Metro','State']

column_list_data = zip_zhvi_bdrmcnt_1_df[column_list]

zip_zhvi_bdrmcnt_1_df.drop(columns=column_list, inplace = True)
zip_zhvi_bdrmcnt_1_df = zip_zhvi_bdrmcnt_1_df.fillna(0)

for column in column_list:
    zip_zhvi_bdrmcnt_1_df.insert(column_list.index(column), column, column_list_data[column])
zip_zhvi_bdrmcnt_1_df

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,1,10025,New York,New York County,New York-Newark-Jersey City,NY,182078.0,186287.0,191381.0,196250.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,1,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,142026.0,144069.0,146168.0,148561.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,1,10023,New York,New York County,New York-Newark-Jersey City,NY,266741.0,270622.0,274752.0,279165.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,1,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,158105.0,160246.0,162237.0,164443.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,1,77449,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,93551.0,94162.0,95088.0,95619.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18543,1,41101,Ashland,Boyd County,Huntington-Ashland,KY,26179.0,25703.0,25500.0,25297.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
18544,1,81225,Mount Crested Butte,Gunnison County,NaN,CO,68284.0,69407.0,70322.0,70903.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
18545,1,2872,Portsmouth,Newport County,Providence-Warwick,RI,0.0,0.0,0.0,0.0,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
18546,1,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
18547,1,86343,Crown King,Yavapai County,Prescott,AZ,0.0,0.0,0.0,0.0,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0

In [171]:
zip_zhvi_bdrmcnt_1_df

,Bedroom Count,Zip Code,City,CountyName,Metro,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,1,10025,New York,New York County,New York-Newark-Jersey City,NY,182078.0,186287.0,191381.0,196250.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,1,60657,Chicago,Cook County,Chicago-Naperville-Elgin,IL,142026.0,144069.0,146168.0,148561.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,1,10023,New York,New York County,New York-Newark-Jersey City,NY,266741.0,270622.0,274752.0,279165.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,1,60614,Chicago,Cook County,Chicago-Naperville-Elgin,IL,158105.0,160246.0,162237.0,164443.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,1,77449,Katy,Harris County,Houston-The Woodlands-Sugar Land,TX,93551.0,94162.0,95088.0,95619.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18543,1,41101,Ashland,Boyd County,Huntington-Ashland,KY,26179.0,25703.0,25500.0,25297.0,...,39805.0,39841.0,39927.0,40156.0,40442.0,40801.0,41113.0,41543.0,42027.0,42445.0
18544,1,81225,Mount Crested Butte,Gunnison County,NaN,CO,68284.0,69407.0,70322.0,70903.0,...,155155.0,155165.0,155203.0,155486.0,156280.0,157489.0,158659.0,159878.0,160711.0,160970.0
18545,1,2872,Portsmouth,Newport County,Providence-Warwick,RI,0.0,0.0,0.0,0.0,...,212023.0,210751.0,208317.0,207216.0,208311.0,210877.0,212976.0,214732.0,214986.0,215069.0
18546,1,4109,Portland,Cumberland County,Portland-South Portland,ME,0.0,0.0,0.0,0.0,...,487461.0,489842.0,491926.0,491914.0,495286.0,502948.0,511444.0,517262.0,522743.0,531143.0
18547,1,86343,Crown King,Yavapai County,Prescott,AZ,0.0,0.0,0.0,0.0,...,133416.0,133295.0,131998.0,130555.0,131217.0,132942.0,135785.0,137881.0,139526.0,141135.0