In [ ]:
!pip install gspread oauth2client

In [1]:
import pandas as pd
import gspread 
from oauth2client.service_account import ServiceAccountCredentials

In [16]:
scope=["https://spreadsheets.google.com/feeds",
       "https://www.googleapis.com/auth/spreadsheets",
       "https://www.googleapis.com/auth/drive.file",
       "https://www.googleapis.com/auth/drive"]


creds = ServiceAccountCredentials.from_json_keyfile_name("credentials.json",scope)

client = gspread.authorize(creds)

sheets = client.open("US_Sale_Inventory_Monthly")

print(sheets.worksheets())

sheets = client.open("US_Pending_Inventory_monthly")

print(sheets.worksheets())

sheets = client.open("ZORI_AllHomesPlusMultifamily_ZIP")

print(sheets.worksheets())




# data = sheet.get_all_records()

[<Worksheet 'All Homes' id:0>]
[<Worksheet 'All Homes' id:0>]
[<Worksheet 'All Homes' id:0>]

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

,RegionID,RegionName,SizeRank,MsaName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01
0,61639,10025,1,"New York, NY",2941,2899,2913,2978,2960,2954,...,3185,3147,3075,3041,2953,2909,2768,2726,2703,2775
1,84654,60657,2,"Chicago, IL",1419,1400,1417,1445,1457,1488,...,1672,1675,1668,1636,1628,1593,1575,1540,1545,1571
2,61637,10023,3,"New York, NY",3131,3133,3126,3169,3214,3284,...,3386,3349,3303,3192,3137,3038,2975,2915,2851,2872
3,91982,77494,4,"Houston, TX",1760,1676,1741,1732,1754,1768,...,1751,1749,1754,1764,1772,1778,1764,1789,1798,1795
4,84616,60614,5,"Chicago, IL",1615,1623,1633,1658,1676,1693,...,1957,1954,1936,1920,1878,1860,1815,1753,1743,1721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2603,58622,2108,8986,"Boston, MA",2309,2394,2329,2336,2261,2324,...,2789,2762,2674,2624,2480,2431,2545,2579,2416,2352
2604,96048,90067,9219,"Los Angeles-Long Beach-Anaheim, CA",,6049,,,,,...,6843,6616,7043,7199,7220,7301,7132,7243,7022,7075
2605,58624,2110,9469,"Boston, MA",3383,3313,3408,3481,,3750,...,,3689,3627,3591,3671,3624,3434,3558,3598,3502
2606,66128,20004,9592,"Washington, DC",,,2374,2298,,2533,...,2689,2650,2629,2644,2699,2642,2530,2563,2540,2472
2607,84604,60602,10262,"Chicago, IL",2531,,,2443,,2436,...,2384,2329,2295,2412,2327,2250,2127,2246,2237,2142